services:
  db:
    image: postgres:16
    container_name: racknote-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - racknote_pgdata:/var/lib/postgresql/data

volumes:
  racknote_pgdata: